solutions/week-1/challenge-3/25daysofserverless day 3.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"sharepointonline_Connection_Name":{"defaultValue":"sharepointonline","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{}}}},"actions":{"Apply_to_each_commits":{"foreach":"@triggerBody()?['commits']","actions":{"added-png":{"runAfter":{},"type":"Query","inputs":{"from":"@items('Apply_to_each_commits')?['added']","where":"@endswith(item(), '.png')"}},"Apply_to_each_added":{"foreach":"@body('added-png')","actions":{"raw_url":{"runAfter":{},"type":"Compose","inputs":"https://raw.githubusercontent.com/johnnliu/25-days-of-serverless/master/@{items('Apply_to_each_added')}"},"HTTP":{"runAfter":{"filename":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"@{outputs('raw_url')}"}},"Create_file":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"post","body":"@body('HTTP')","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://johnliu365.sharepoint.com/'))}/files","queries":{"folderPath":"/Shared Documents","name":"@{outputs('filename')}","queryParametersSingleEncoded":true},"authentication":"@parameters('$authentication')"}},"last-slash":{"runAfter":{"raw_url":["Succeeded"]},"type":"Compose","inputs":"@add(lastIndexOf(outputs('raw_url'), '/'), 1)"},"filename":{"runAfter":{"last-slash":["Succeeded"]},"type":"Compose","inputs":"@substring(outputs('raw_url'), outputs('last-slash'), sub(length(outputs('raw_url')),outputs('last-slash'))  )"}},"runAfter":{"added-png":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}}},"runAfter":{},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}}}},"parameters":{"$connections":{"value":{"sharepointonline":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","connectionName":"[parameters('sharepointonline_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('sharepointonline_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"},"displayName":"[parameters('sharepointonline_Connection_Name')]"}}]}